{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Globspot | Precios{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="container">
    <h1 class="pt-1"><i class="fas fa-file-invoice-dollar"></i> Precios</h1>
      <div class="card mt-3">
      <div class="card-header">
              </div>
      <div class="card-body">
          <table id="data" class="table table-bordered table-hover dataTable dtr-inline">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for price in object_list %}
              <tr>
                <td>{{price.name}}</td>
                <td>{{price.price|intcomma}}</td>
                <td class="text-center">
                    <a href="{% url 'update_price' price.pk %}"  data-toggle="tooltip" data-bs-placement="top" title="Actualizar"><i class="fas fa-pen" style="color:#F0AD4E;"></i></a>
                    <a href="{% url 'delete_price' price.pk %}"  data-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fas fa-trash-alt" style="color:red;"></i></a>
                    
                </td>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>
      </div>
      </div>
    </div>
    </div>
{% endblock %}