{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/fontawesome-free/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css'%}">
    <script type="text/javascript" src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% block css %} 
    {% endblock %}
    
    <title>{% block title %}{% endblock %}</title>
</head>
{% block style %} 
{% endblock %}

<body class="hold-transition layout-top-nav {% block body %} {% endblock %}">
    <div class="wrapper">
{% if request.user.is_authenticated %}
    {% include "navbar.html" %}
{% endif %}
    {% block content%}
    {% endblock %}
    
</div>

<script type="text/javascript" src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
{% block js %}
{% endblock %}
</html>