{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.css' %}">
    {% block css %} 
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
{% block style %} 
{% endblock %}

<body>
{% if request.user.is_authenticated %}
    {% include "navbar.html" %}
{% endif %}
    {% block content%}
    {% endblock %}
</body>
<script type="text/javascript"  src="{% static 'boostrap/js/bootstrap.js' %}"></script>
</html>