{% load static %}


<div class="wrapper">

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
  <div class="container">
    <a href="{% url 'index' %}" class="navbar-brand">
      <img src="{% static 'logos/logo.jpg' %}" alt="AdminLTE Logo" class="brand-image"
           style="opacity: .8">
    </a>
    
    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link">Cotizaciones</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'companies' %}" class="nav-link">Compañias</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Mi cuenta</a>
          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="#" class="dropdown-item">Cambiar Contraseña</a></li>
            <li><a href="#" class="dropdown-item">Mis datos</a></li>

            <li class="dropdown-divider"></li>

          </ul>
        </li>
        {% endif %}
      </ul>

    </div>

    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown d-flex align-items-center">
        <p class="mr-3 mt-3">Bienvenido: <b>{{request.user.first_name}} {{request.user.last_name}} </b></p>
        <a href="{% url 'logout' %}" class="btn btn-outline-danger" type="submit">Salir</a>

      </li>
    </ul>
  </div>
</nav>
</div>